{% extends "base.html" %}
{% block title %}Password reset{% endblock %}


{% block form_content %}

	
	<!--Body Content-->
    <div id="page-content">
      <!--Page Title-->
      <div class="page section-header text-center">
      <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Password set</h1></div>
          </div>
      </div>
        <!--End Page Title-->
        
        <div class="container">
          <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3" style="color: red;">
                  <div class="mb-4">
                    <p class="c-b">Your password has been set. You can</p>
				 	<a href="{% url 'login' %}" class="btn md-3">login now</a>
                  </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
<!-- 	<div class="card p-1 c-p">
		<div class="form">
		 	<h5 class="">Password set</h5>
			<p class="c-b">Your password has been set. You can</p>
		 	<a href="{% url 'login' %}" class="btn-l-p w-100 pointer">login now</a>
		</div>
		
	</div> -->