{% extends "base.html" %}
{% block title %}Change your password{% endblock %}



{% block form_content %}

	<!--Body Content-->
    <div id="page-content">
      <!--Page Title-->
      <div class="page section-header text-center">
      <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Change your password</h1></div>
          </div>
      </div>
        <!--End Page Title-->
        
        <div class="container">
          <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3" style="color: red;">
                	{% if form.errors %}
						{{ form.errors }}
			
					{% endif %}
                  <div class="mb-4">
                    <form method="post"  id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form"> 
                       {% csrf_token %}
                      
                       {% for field in form %}
						<p>{{ field.label }}</p>
						{{ field }}
						{% endfor %}
                       <button class="btn m-3" type="submit"> Change </button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
        
    </div>




{% endblock %}

#password_change_form
				

<!-- 	<div class="card p-1 c-p">
		<div class="form">
			<h5 class="form-header ">Change your password</h5>
			<p class="c-b">Use the form below to change your password.</p>
			<div class="bg-r">
					
				{% if form.errors %}
						{{ form.errors }}
			
				{% endif %}
			</div>
			<form method="post" class="form-b">
				{% csrf_token %}
				{% for field in form %}
					<p>{{ field.label }}</p>
					{{ field }}
				{% endfor %}
				<br><br>
				<button class="btn-l-p w-100 pointer" type="submit"> Change </button>

			</form>
		</div>
		
	</div> -->