  
{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}


{% block form_content %}
		
	<!--Body Content-->
    <div id="page-content">
      <!--Page Title-->
      <div class="page section-header text-center">
      <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Reset your password</h1></div>
          </div>
      </div>
        <!--End Page Title-->
        
        <div class="container">
          <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3" style="color: red;">
                  <div class="mb-4">
                    <p class="c-b">We've emailed you instructions for setting your password.</p>
					<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
				 	
                  </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
<!-- 	<div class="card p-1 c-p">
		<div class="form">
			<h5 class="">Reset your password</h5>
			<p class="c-b">We've emailed you instructions for setting your password.</p>
			<p>If you don't receive an email, please make sure you've entered
			the address you registered with.</p>
			
		</div>
	</div> -->