{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}



{% block form_content %}

		
		<!--Body Content-->
    <div id="page-content">
      <!--Page Title-->
      <div class="page section-header text-center">
      <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Forgotten your password?</h1></div>
          </div>
      </div>
        <!--End Page Title-->
        
        <div class="container">
          <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3" style="color: red;">
                	{% if form.errors %}
						{{ form.errors }}
			
					{% endif %}
                  <div class="mb-4">
                  		<p class="c-b">Enter your e-mail address to obtain a new password.</p>
	                    <form method="post"  id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form"> 
	                  		{% csrf_token %}
	                       	<button class="btn m-3" type="submit"> Send email </button>
	                    </form>
               
                  </div>
                </div>
            </div>
        </div>
        
    </div>



{% endblock %}
password_reset_form
			


<!-- {% for i in form %}
<div class="form-group w-100 form-data">
{{ i.label }}<br>
{{ i }}
</div>
{% endfor %} -->
<!-- 
<div class="card col-md-8 p-1 c-p align-c" style="width: 18rem;">
  <div class="card-body">
		<h5 class="card-title c-b ">Forgotten your password?</h5>
		<em class="card-text c-default">Enter your e-mail address to obtain a new password.</em>
		<div class="form">
			<form method="post" class="">
				{% csrf_token %}
			  		<label for="emial">{{ form.email.label }}</label>
				  	<input type="emial" name="email" placeholder="x@example.com">
				  	
				<br><br>
				<button class="btn-l-b w-100 pointer hover-d" type="submit"> Send email </button>
			</form>
		</div>

  </div>
</div> -->