{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}



{% block form_content %}
	
		<!--Body Content-->
    <div id="page-content">
      <!--Page Title-->
      <div class="page section-header text-center">
      <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Change your password</h1></div>
          </div>
      </div>
        <!--End Page Title-->
        
        <div class="container">
          <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3" style="color: red;">
                	{% if form.errors %}
						{{ form.errors }}
			
					{% endif %}
                  <div class="mb-4">
                  	{% if validlink %}
                  		<p class="c-b">Please enter your new password twice:</p>
	                    <form method="post"  id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form"> 
	                       {% csrf_token %}
	                      
	                       {% for field in form %}
							<p>{{ field.label }}</p>
							{{ field }}
							{% endfor %}
	                       <button class="btn m-3" type="submit"> Submit </button>
	                    </form>
                    {% else %}
						<p class="c-r"> The password reset link was invalid, possibly because it has
						already been used. Please request a new password reset.</p>
					{% endif %}
                  </div>
                </div>
            </div>
        </div>
        
    </div>
 
{% endblock %}



<!-- 	<div class="card p-1  c-p">
		<div class="form">
			<h5 class="">Reset your password</h5>
			{% if validlink %}
				<p class="c-b">Please enter your new password twice:</p>
				<div class="bg-r">
					<p class="">
						{% if form.errors%}
							{{form.errors}}
						{% endif %}
					</p>
				</div>
				<form method="post" class="">
					{% csrf_token %}
					{% for field in form %}
						<p>{{ field.label }}</p>
						{{ field }}
					{% endfor %}
					<br><br>
					<button class="btn-l-p w-100 pointer" type="submit"> Submit </button>
				</form>
			{% else %}
				<p class="c-r"> The password reset link was invalid, possibly because it has
				already been used. Please request a new password reset.</p>
			{% endif %}
		</div>
		
	</div> -->