 
{% extends "base.html" %}
{% block title %}Password changed{% endblock %}

{% block form_content %}
	
	    <div id="page-content">
	      <!--Page Title-->
	      <div class="page section-header text-center">
	      <div class="page-title">
	            <div class="wrapper"><h1 class="page-width">Password changed<</h1></div>
	          </div>
	      </div>
	        <!--End Page Title-->
	        
	        <div class="container">
	          <div class="row">
	                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
	                  <div class="mb-4">
	                    <p class="c-b">Your password has been successfully changed.</p>
						<a href="{% url 'dashboard' %}" class="c-b"><i class="fa fa-arrow-left"></i> back to home </a>
	                  </div>
	                </div>
	            </div>
	        </div>
	        
	    </div>
	

{% endblock %}


	<div class="card p-1 c-p">
		<div class="form">
			<h3 class="form-header text-success">Password changed</h3>
			<p class="c-b">Your password has been successfully changed.</p>
			<a href="{% url 'dashboard' %}" class="c-b"><i class="fa fa-arrow-left"></i> back to home </a>
		</div>
		
	</div>